body, html {
	height: 100%;
}

#centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hero {
	text-align: center;
	margin-top: 100px;
}
#hero img {
	width: 50vw;
}
#pressKit button {
	background-color: #1c98fb;
	border: none;
	color: #010935;
	font-weight: 700;
	font-size: 18px;
	padding: 3.5px 7.5px;
	cursor: pointer;
	border: 1px solid transparent;
	transition: 0.2s ease all;
	outline: none;
}
#pressKit button:hover {
	background-color: #010935;
	color: #1c98fb;
	border:1px solid #1c98fb;
}

#kitchen {
	width: 267px;
	margin:auto;
	margin-top:20%;
}

#kitchen #press, #sociallinks {
	display: inline-block;
	float:left;
	margin: auto;
}

#kitchen #sociallinks ul {
	margin: 0px;
	margin-top: 3px;
	padding: 0px;
}

#kitchen #sociallinks li {
	position: relative;
	display: inline-block;
	margin-right: 20px;
}

#kitchen #sociallinks img {
	height: 24px;
}