
#nav a, #hero {
	color: #1c98fb;
}

#hero {
	text-align: center;
}
#hero img {
	width:55vw;
}
#meetTheTeam {
	text-align: center;
}
#meetTheTeam h4 {
	background-color: #1c98fb;
	font-size: 34px;
	text-transform: uppercase;
	padding:10px 15px;
	display: inline-block;
}
.topMeetTeam{
	margin-top:-130px;
}
.teamSection{
	margin-bottom: 150px;
	overflow: auto;
}
.teamMembers {
	width: 55vw;
	margin: auto;
	margin-bottom: 25px;
	overflow: auto;
	clear: both;
}
.teamMember {
	width: calc(25% - 35px);
	margin-right: 35px;
	display: inline-block;
	float: left;
}
.teamMember:first-child {
	margin-left: 17.5px;
}
.teamMember:last-child {
	margin-right: 0px;
}
.memberPhoto img {
	width: 100%;
}
.memberName {
	word-wrap: break-word;
	color: white;
	font-size:20px;
	margin-top: 10px;
	width: 100%;
	text-align:center;
}
.memberLink{
	margin-top: 10px;
	color:#1c98fb;
	font-size:16px;
	text-align:center;
}
.teamDescription{
	width: 60vw;
	max-width: 1000px;
	margin: auto;
	color: white;
	font-size: 22px;
	line-height: 31px;
	font-weight: 300;
	padding-bottom: 25px;
	font-family: 'Open Sans';
	position: relative;
}
.drop{
	font-family: "ltc-bodoni-175",serif;
	color: white;
	float: left;
	font-size: 150px;
	line-height: 60px;
	display: inline-block;
	margin-top: 38px;
}
.description{
	width: calc(100% - 180px);
	display: inline-block;
	float:left;
	padding-left: 20px;
}