#logo {
	text-align: center;
	margin-top: 80px;
}
#logo img {
	width:55vw;
}

#title {
	color:#1c98fb;
	text-align: center;
	font-size: 70px;
	text-transform: uppercase;
	margin-top: 40px;
	font-weight: 600;
	line-height: 78px;
}
#callToAction {
	display: inline-block;
	background-color:#1c98fb;
	color: #010935;
	text-transform: uppercase;
	padding: 15px 20px;
	font-size: 25px;
	transition: 0.2s ease all;
	border:2px solid #1c98fb;
}
#action {
	width: 55vw;
	margin:auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center
}
#action span {
	display:inline-block;
	color:#1c98fb;
	text-transform: uppercase;
	font-size: 1.4375em; /* 23px / 16px */
	padding-top: 16px;
	margin-right: 20px;
}
#callToAction:hover {
	border:2px solid #1c98fb;
	background-color: #010935;
	color: #1c98fb;
}
#video {
	width: 100vw;
	margin-top:30px;
	text-align: center;
	margin-bottom: 30px;
}
#video iframe {
	width:55vw;
	height: 31vw;
}
#content {
	width: 55vw;
	margin:auto;
}
#intro {
	padding:30px 0;
	min-height: 10px;
}
#largeObject {
	display: table-cell;
	float: left;
	width:50%;
}
#largeObject .sketchfab-embed-wrapper iframe {
	width:100%;
}
.text {
	display: table-cell;
	color:#010935;
	font-weight: 700;
	font-size: 18px;
	line-height: 35px;
	padding:30px 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #1c98fb;
	border-radius: 3px;
	width: 48%;
	min-height: 1px; 
}
.dropCap {
	float: left;
	margin-right:15px;
}
.text img {
	height: 85px;
	
}
.text span {
	float: left;
}
#smallObjects {
	width: 100%;
}
#smallObject {
	display: inline-block;
	float: left;
	width:33%;
	margin-top:50px;
	text-align: center;
}
#smallObject .sketchfab-embed-wrapper iframe {
	width:90%;
	height:450px;
	margin: auto
}
.actionAnchor {
	text-align: center;
}
#actionButton {
	background-color:#1c98fb;
	color: #010935;
	text-transform: uppercase;
	padding: 15px 20px;
	font-size: 25px;
	transition: 0.2s ease all;
	border:2px solid #1c98fb;
	display: inline-block;
	margin: 30px 0 60px 0;
}
#actionButton:hover {
	border:2px solid #1c98fb;
	background-color: #010935;
	color: #1c98fb;
}


@media (max-width: 2275px) {
	.text {
		font-size: 16px;
		line-height: 25px;
		padding:20px 20px;
	}
}

@media (max-width: 1840px) {
	#callToAction {
		margin-top:10px;
		text-transform: uppercase;
		padding: 10px 15px;
		font-size: 15px;
	}
	#smallObject {
		display:block;
		float: none;
		width:100%;
	}
	#smallObject .sketchfab-embed-wrapper iframe {
		width:100%;
	}
	#actionButton {
		margin: 30px 0 30px 0;
	}
}



@media (max-width: 1685px) {
	#title {
		font-size: 60px;
		line-height: 70px;
	}
	#action span {
		color:#1c98fb;
		font-size: 18px;
	}
}

@media (max-width: 1450px) {
	#action span {
		padding-top:0px;
		padding-bottom:10px;
	}
	.text {
		font-size: 16px;
		line-height: 20px;
		padding:10px;
	}
	#actionButton {
		margin: 30px 0 0px 0;
	}
	#footer p {
		font-size: 25px;
		line-height: 30px;
	}
	#events p {
		font-size: 35px;
	}
	#footer #testimonials span, #footer #events span {
		font-size:25px;
	}
}

@media (max-width: 1245px) {
	#title {
		font-size: 50px;
		line-height:  60px;
	}
	.text {
		font-size: 14px;
		line-height: 18px;
		padding:10px;
	}
}

@media (max-width: 1130px) {
	#action span {
		width: 60%;
		float: left;
		display: inline-block;
	}
	#callToAction {
		display: inline-block;
		margin: auto;
	}
	#largeObject {
		display: block;
		width: 100%;
		float: none;
		margin-bottom: 50px;
	}
	#largeObject .sketchfab-embed-wrapper iframe {
		height: 300px;
	}
	#smallObject .sketchfab-embed-wrapper iframe {
		height:300px;
	}
	.text {
		display: block;
		width: 100%;
		float:none;
	}
	#intro {
		padding-bottom:0px;
	}
	#footer {
		margin-top: 150px;
	}
}

@media (max-width: 910px) {
	#title {
		font-size: 40px;
		line-height: 50px;
	}
	#action span {
		font-size:16px;
	}
	#callToAction {
		font-size:14px;
	}
	#footer {
		margin-top: 50px;
	}
	#footer img {
		display: none;
	}
	#footer h1 {
		padding-top:50px;
	}
}

@media (max-width: 730px) {
	#action span {
		width: 100%;
		display: block;
		margin-top: -10px
	}
}

@media (max-width: 670px) {
	#title {
		font-size:30px;
		line-height: 40px;
	}

	#nav a {
		margin-right: 15px;
		font-size: 16px;
	}
	#logo {
		margin-top: 40px;
	}
}

@media (max-width: 490px) {
	#title {
		font-size:25px;
		line-height: 30px;
	}
	#action span {
		font-size:14px;
	}
}