#callToAction,#title {
    text-transform: uppercase
}

#title {
    text-align: center;
    margin-top: 40px;
    font-weight: 600;
    line-height: 78px;
    color: #1c98fb;
    font-size: 70px
}

#callToAction {
    display: inline-block;
    background-color: #1c98fb;
    color: #010935;
    padding: 15px 20px;
    font-size: 25px;
    transition: .2s ease all;
    border: 2px solid #1c98fb
}

#action,#video {
    text-align: center
}

#action {
    margin: 20px auto;
    width: 55vw
}

#action span {
    display: inline-block;
    color: #1c98fb;
    text-transform: uppercase;
    font-size: 1.4375em;
    padding-top: 16px;
    margin-right: 20px
}

#actionButton:hover,#callToAction:hover {
    border: 2px solid #1c98fb;
    background-color: #010935;
    color: #1c98fb
}

#video {
    width: 100vw;
    margin-top: 30px;
    margin-bottom: 30px
}

#video iframe {
    width: 55vw;
    height: 31vw
}

#content {
    width: 55vw;
    margin: auto
}

#intro {
    padding: 30px 0;
    min-height: 10px
}

.text {
    color: #fff;
    font-weight: 300;
    font-size: 22px;
    line-height: 33px;
    padding: 30px 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    letter-spacing: .5px
}

.actionAnchor {
    text-align: center
}

#actionButton {
    background-color: #1c98fb;
    color: #010935;
    text-transform: uppercase;
    padding: 15px 20px;
    font-size: 25px;
    transition: .2s ease all;
    border: 2px solid #1c98fb;
    display: inline-block;
    margin: 30px 0 60px
}

#logo,#staticLogo {
    text-align: center;
    margin-top: 60px
}

#logo img,#staticLogo img {
    width: 55vw
}
/*
#largeObject {
	display: table-cell;
	float: left;
	width:50%;
}
#largeObject .sketchfab-embed-wrapper iframe {
	width:100%;
}*/
/*
.text {
	display: table-cell;
	color:#010935;
	font-weight: 700;
	font-size: 18px;
	line-height: 35px;
	padding:30px 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #1c98fb;
	border-radius: 3px;
	width: 48%;
	min-height: 1px; 
}
.dropCap {
	float: left;
	margin-right:15px;
}
.text img {
	height: 85px;
	
}
.text span {
	float: left;
}*/
/*
#smallObjects {
	width: 100%;
}
#smallObject {
	display: inline-block;
	float: left;
	width:33%;
	margin-top:50px;
	text-align: center;
}
#smallObject .sketchfab-embed-wrapper iframe {
	width:90%;
	height:450px;
	margin: auto
}*/
/*#glasses {
	text-align: center;
	position: relative;
	z-index: 20;
}
#glasses img {
	width:55vw;
}*/
/*
#logo {
margin-top:120px;
}
#logo img {
	position: relative;
	transition: all 1000ms ease-out;
}
.logo1 {z-index: 10;}
.logo2 {z-index: 9;}
.logo3 {z-index: 8;}
.logo4 {z-index: 7;}
.logo5 {z-index: 6;}
.logo6 {z-index: 5;}
.logo7 {z-index: 4;}
.logo8 {z-index: 3;}
.logo9 {z-index: 2;}
.logo10 {z-index: 1;}
.logo11 {z-index: 0;}

#title, #action, #video, #content, #footer, .seg2, .seg3, #nav, #glasses {
	opacity: 0;
	transition: 1.2s ease opacity;
}
*/

.sketchfab-embed-wrapper iframe {
	width: 55vw;
    height: 31vw
}

@media (max-width: 2275px) {
	.stext {
		font-size: 16px;
		line-height: 25px;
		padding:20px 20px;
	}
}

@media (max-width: 1840px) {
	#callToAction {
		margin-top:10px;
		text-transform: uppercase;
		padding: 10px 15px;
		font-size: 15px;
	}
	#smallObject {
		display:block;
		float: none;
		width:100%;
	}
	#smallObject .sketchfab-embed-wrapper iframe {
		width:100%;
	}
	#actionButton {
		margin: 30px 0 30px 0;
	}
}



@media (max-width: 1685px) {
	#title {
		font-size: 60px;
		line-height: 70px;
	}
	#action span {
		color:#1c98fb;
		font-size: 18px;
	}
}

@media (max-width: 1450px) {
	#action span {
		padding-top:0px;
		padding-bottom:10px;
	}
	.stext {
		font-size: 16px;
		line-height: 20px;
		padding:10px;
	}
	#actionButton {
		margin: 30px 0 0px 0;
	}
	#footer p {
		font-size: 25px;
		line-height: 30px;
	}
	#events p {
		font-size: 35px;
	}
	#footer #testimonials span, #footer #events span {
		font-size:25px;
	}
}

@media (max-width: 1245px) {
	#title {
		font-size: 50px;
		line-height:  60px;
	}
	.stext {
		font-size: 14px;
		line-height: 18px;
		padding:10px;
	}
}

@media (max-width: 1130px) {
	#action span {
		width: 60%;
		float: left;
		display: inline-block;
	}
	#callToAction {
		display: inline-block;
		margin: auto;
	}
	#largeObject {
		display: block;
		width: 100%;
		float: none;
		margin-bottom: 50px;
	}
	#largeObject .sketchfab-embed-wrapper iframe {
		height: 300px;
	}
	#smallObject .sketchfab-embed-wrapper iframe {
		height:300px;
	}
	.stext {
		display: block;
		width: 100%;
		float:none;
	}
	#intro {
		padding-bottom:0px;
	}
	#footer {
		margin-top: 150px;
	}
	.text {
		padding:0px;
	}

	#event,#testimonial {
	    width: 100%;
	    display: block;
	    float: center;
	    margin-bottom: 20px
	}
}

@media (max-width: 910px) {
	#title {
		font-size: 40px;
		line-height: 50px;
	}
	#action span {
		font-size:16px;
	}
	#callToAction {
		font-size:14px;
	}
	#footer {
		margin-top: 50px;
	}
	#footerImage {
		display: none;
	}
	#footer h1 {
		padding-top:50px;
	}
	.text {
		font-size: 19px;
	}

	#footer h1 {
	    font-size: 60px
	}

	#footer #events span,#footer #testimonials span {
	    font-size: 25px
	}
}

@media (max-width: 730px) {
	#action span {
		width: 100%;
		display: block;
		margin-top: -10px
	}
	.text {
		font-size: 18px;
	}
}

@media (max-width: 670px) {
	#title {
		font-size:30px;
		line-height: 40px;
	}

	#nav a {
		margin-right: 15px;
		font-size: 16px;
	}
	#staticLogo {
		margin-top: 40px;
	}
}

@media (max-width: 490px) {
	#title {
		font-size:25px;
		line-height: 30px;
	}
	#action span {
		font-size:14px;
	}
}


@media (max-width: 414px) {
	#nav {
	    width: 80vw;
	    margin: auto;
	    text-align: center
	}

	#nav ul {
	    margin: 15px 0 10px
	}

	#nav li {
	    margin-bottom: 10px
	}

	#staticLogo {
	    margin-top: 0
	}

	#title {
	    font-size: 25px;
	    line-height: 30px
	}

	#action,#content,#events,#staticLogo img,#testimonials {
	    width: 80vw
	}

	#action span,.text {
	    font-size: 17px
	}

	.text {
	    padding: 0
	}

	#video iframe {
	    width: 80vw;
	    height: auto
	}

	#footer h1 {
	    font-size: 30px
	}

	#footer p {
	    margin: 0 0 10px
	}

	#footer #events span,#footer #testimonials span {
	    font-size: 15px
	}

	#social {
	    margin-top: 90px
	}

	#footer #social img {
	    height: 30px
	}

	#bc img {
	    width: 200px;
	    margin-top: 10px;
	    margin-bottom: 50px
	}
}