<div id="nav">
	<ul>
		<a href="{{ path_for('home') }}"><li>Home</li></a>
		<!-- <a href="./index.html"><li>Blog</li></a> -->
		<a href="{{ path_for('gallery') }}"><li>Gallery</li></a>
		<a href="{{ path_for('contact') }}"><li>Contact</li></a>
	</ul>
</div>